extends layout

block content
    h1 Cov in Deutschland
    div.topnav
        a(href="/?bundesland=BY" class= bundesland === "BY" ? "active" : "inactive") Bayern
        a(href="/?bundesland=NI" class= bundesland === "NI" ? "active" : "inactive") Niedersachsen
        a(href="/?bundesland=SN" class= bundesland === "SN" ? "active" : "inactive") Sachsen
        a(href="/?bundesland=II" class= bundesland === "II" ? "active" : "inactive") Impfungen
    p=lastUpdate
    if chosenFact
        div.card
            div.container
                h2=chosenFact.area
                    div.pancakeContainer
                        div.pancake
                            h1.condense=chosenFact.impfGesamt
                            td(align='center') Erst-Impfungen
                        div.pancake
                            h1.condense=chosenFact.impfPercent+"%"
                            td(align='center') Erst-Impfungen Anteil
                        div.pancake
                            h1.condense=chosenFact.impfZweit
                            td(align='center') Zweit-Impfungen
    br
    table
        thead
            tr
                th.border Bundesland
                th.border Erst-Impfungen
                th.border Anteil
                th.border Zweit-Impfungen
        each fact in facts
            tr
                td.border=fact.area
                td.border=fact.impfGesamt
                td.border=fact.impfPercent+"%"
                td.border=fact.impfZweit
    br
    div="Alle Daten nach " + source
    br
    a(href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Daten/Impfquotenmonitoring.xlsx;?__blob=publicationFile") Mehr gibt es hier! (.xlsx)
    br
    a(href="https://impfdashboard.de/") Und hier!