extends layout

block content
    h1 Cov in Deutschland
    div.topnav
        a(href="/?bundesland=ALL" class= bundesland === "ALL" ? "active" : "inactive") Infektionen
        a(href="/?bundesland=II" class= bundesland === "II" ? "active" : "inactive") Impfungen
    p=lastUpdate
    if chosenFact
        div.card
            div.container
                h2=chosenFact.area
                    div.pancakeContainer
                        div.pancake
                            h1.condense=chosenFact.recentIncidence
                            td(align='center') 7-Tage-Inzidenz
                        div.pancake
                            h1.condense=chosenFact.recentCases
                            td(align='center') Fälle
                        div.pancake
                            h1.condense=chosenFact.totalDeaths
                            td(align='center') Tote
    br
    if ampelImage
        div.card
            div.container
                img(src=ampelImage)
    br
    table
      thead
        tr
          th.border Landkreis
          th.border 7-Tage Inzidenz
      each fact in facts
        tr
          td.border
            a(href="/?area"+bundesland+"="+fact.area)=fact.area
          td.border=fact.recentIncidence
    br
    div="Alle Daten nach " + source